{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ category }} - {{ sub_category }}
{% endblock %}

{% block body_block %}
	<section class="inventory">
		<div class="inner">
			<h1>{{category.0}} :: {{sub_category.0}}</h1>
			
			<p><a href="{% url 'basefunctions.views.root' %}">Home</a> ::
			<a href="{% url 'inventory.views.category_list' %}">All Categories</a> :: 
			<a href="{% url 'inventory.views.sub_category_list' category.1 %}">{{ category.0 }}</a></p><br />

			<ul class="cf">
				{% for i in items %} 
				<li>
					<figure>
						<!-- <a href="#"><img src="http://dummyimage.com/692x300/ddd4e4/fff"></a>-->
						<a href="{% url 'inventory.views.single_item_view' category.1 sub_category.1 i.1 %}"><img src="{{i.0.picture_url}}"></a>
					</figure>
					<div class="details">
						<p>{{ i.0.item_name }}</p>
						<p>{{ i.0.price }}</p>
					</div>
				</li>
				{% endfor %}
			</ul>
			<p><a href="{% url 'inventory.views.category_list' %}"><span class="button"><< Return To Categories</span></a></p>
		</div>
	</section>


	{% if items %}
	{% else %}
		Sorry there are no items in {{ category }} / {{ sub_category }}
	{% endif %}
{%endblock%}
