{% extends 'base.html' %}

{% block title %} Categories {% endblock %}

{% block body_block %}
		<section class="categories">
			<div class="inner">
				<p class="warning">Please pardon the appearance while we update our site...</p>
				<h1>item name</h1>
				<!--<p><a href="{% url 'basefunctions.views.root' %}">Home</a>-->
				<!-- <a href="{% url 'inventory.views.category_list' %}">All Categories</a></p>-->

				<p>some text</p>
				<figure>
					<img src="http://dummyimage.com/600x400/ff000/fff">
				</figure>
			</div>
		</section>

{% endblock %}
