/* pallete: http://www.paletton.com/#uid=13F0u0ka2dk6Gop8Sj7fBa4lp8H */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 24px;
	line-height: 24px;
	/*
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }

h1, h2, h3, h4, h5, h6, p, ul, li, figure {
	margin: 0; 
	padding: 0;
	border: 0;
	font-weight: inherit;
}

ul, li {
	list-style: none;
}

a {
	color: #00b37e;
	font-weight: 700;
	text-decoration: none;
}

body {
	background: #eff3f5;
	color: #22272f;
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
}

header, footer, section {
	text-align: center;
}

img {
	width: 100%;
	vertical-align: middle;
}

.inner {
	margin: 0 6%;
	padding: 24px;
}

header {
	background: #4B5564;
	font-family: "Oswald", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

header a {
	color: #eff3f5;
}

header p {
	color: #ccc;
	font-size: 16px;
	font-weight: 300;
}

header nav {
	margin-top: 12px;
}

header nav ul li {
	display: inline;
	margin-right: 36px;
}

header nav ul li a {
	font-size: 18px;
	font-weight: 300;
}

header nav ul li:nth-child(3) {
	margin-right: 0;
}

h1 {
	margin-bottom: 12px;
	font-size: 24px;
	letter-spacing: -1px;
	font-weight: 400;
}

figure {
	background: #fff;
	border: 2px solid #4B5564;
	margin-bottom: 12px;
	padding: 2px;
}

p {
	font-size: 16px;
	line-height:18px;
	margin-bottom: 12px;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.home-bot .inner {
	padding-top: 0;
	padding-left: 12px;
}

.button {
	border: 2px solid #4B5564;
	color: #22272f;
	display: block;
	font-weight: 400;
	font-size: 13px;
	line-height:18px;
	margin-bottom: 12px;
	padding: 12px 4px;
	text-transform: uppercase;
}

.outline {
	border: 2px solid #4B5564;
	color: #22272f;
	display: block;
	font-weight: 400;
	font-size: 15px;
	line-height:18px;
	margin-bottom: 12px;
	padding: 12px 4px;
}



.deal {
	background: #4B5564;
	color: #eff3f5;
	display: block;
	font-weight: 400;
	font-size: 13px;
	line-height:18px;
	margin-bottom: 12px;
	padding: 12px 4px;
	text-transform: uppercase;
}

.deal h3 {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 4px;
}

.col {
	padding-left: 12px;
}

.contact .inner {
	padding-bottom: 12px;
}

.contact ul {
	font-size: 16px;
	line-height:18px;
}

.map {
	background: #fff;
	border: 2px solid #4B5564;
	margin: 0 auto;
	padding: 2px;
	overflow:hidden;
	height:254px;
	height: 350px;
	width: 100%;
	margin-bottom: 12px;
}

#gmap_canvas {
	height:246px;
	height: 342px;
	width: auto;
	vertical-align: middle;
}

.categories .inner {
	padding-left: 12px;
}

.categories .inner ul li {
	padding-left: 12px;
}

.categories figure, .inventory figure {
	margin-bottom: 0;
	border-bottom: none;
}

.categories .title {
	background: #fff;
	border: 2px solid #4B5564;
	border-top: none;
	font-size: 16px;
	margin-bottom: 12px;
}

.inventory .inner {
	padding-left: 12px;
	padding-bottom: 12px;
}

.inventory .inner ul li {
	padding-left: 12px;
	margin-bottom: 12px;
}

.details {
	background: #fff;
	border: 2px solid #4B5564;
	border-top: none;
	padding: 2px 4px 4px 4px;
}

.inventory p {
	margin-bottom: 0;
	font-size: 13px;
	line-height: 13px;
}

.inventory span {
	margin-left: 12px;
}

footer {
	background: #323a46;
	color: #ccc;
	font-family: "Oswald", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

footer p {
	margin-bottom: 0;
	font-size: 13px;
	font-weight: 400;
}

footer .sig {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 10px;
}

.warning {
	display: inline-block;
	padding: 4px 10px 6px 10px;
	background: #ffc550;
}

.single_right .price {
	font-family: "Oswald", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin-top: 24px;
}

@media only screen and (min-width : 548px) {
	
	.categories .inner ul li, .inventory .inner ul li {
		float: left;
		width: 50%;
	}
	
	
}

@media only screen and (min-width : 700px) {

	.single_item h1 {
		text-align: left;
	}
	
	.single_left {
		max-width: 300px;
		float: left;
	}
	
	.single_right {
		text-align: start;
		margin-left: 310px;
	}
		
}

@media only screen and (min-width : 769px) {
	
	.col {
		float: left;
		width: 50%;
	}
	
	.categories .inner ul li, .inventory .inner ul li {
		width: 33.3333333%;
	}
	
	
}

@media only screen and (min-width : 980px) {
	
	.inner {
		margin: 0 auto;
		max-width: 848px;
	}
	
	.categories .inner ul li, .inventory .inner ul li {
		width: 25%;
	}
	
}
