/* pallete: http://www.paletton.com/#uid=13F0u0ka2dk6Gop8Sj7fBa4lp8H */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 24px;
	line-height: 24px;
	/*
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }

h1, h2, h3, h4, h5, h6, p, ul, li, figure {
	margin: 0; 
	padding: 0;
	border: 0;
	font-weight: inherit;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background: #eff3f5;
	color: #22272f;
	font-family: "Oswald", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
}

header {
	background: #323a46; /* Darkest */
	background: #4B5564;
	color: #fff;
	font-weight: 400;
}

header, footer, section {
	text-align: center;
}

.inner {
	margin: 0 6%;
	padding: 24px;
	max-width: 980px;
}

header p {
	color: #ccc;
	font-size: 16px;
	font-weight: 300;
}

header nav {
	margin-top: 14px;
}

header nav ul li {
	display: inline;
	margin-right: 36px;
}

header nav ul li a {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}

header nav ul li:nth-child(3) {
	margin-right: 0;
}

.splash {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.splash h1 {
	margin-bottom: 12px;
	font-size: 28px;
	letter-spacing: -1px;
	font-weight: 400;
}

.splash figure {
	border: 2px solid #4B5564;
	margin-bottom: 12px;
	padding: 2px;
}

.splash img {
	width: 100%;
	vertical-align: middle;
}

.splash p {
	font-size: 16px;
	line-height:18px;
}

.splash2 .inner {
	padding-top: 0;
}

.splash2{
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.splash2 h2 {
	margin-bottom: 12px;
	font-size: 28px;
	letter-spacing: -1px;
	font-weight: 400;
}

.splash2 p {
	font-size: 16px;
	line-height:18px;
	margin-bottom: 12px;
}

.splash2 p a {
	border: none;
	display: inline;
	padding: 0;
	text-transform: none;
	color: #00b37e;
	font-weight: 700;
}

.splash2 figure {
	border: 2px solid #4B5564;
	padding: 2px;
	margin-bottom: 8px;
}

.splash2 img {
	width: 100%;
	vertical-align: middle;
}

.splash2 a {
	border: 2px solid #4B5564;
	color: #22272f;
	display: block;
	font-size: 16px;
	line-height:18px;
	padding: 12px;
	text-transform: uppercase;
}

.col {
	width: 100%;
	margin-bottom: 12px;
}

footer {
	background: #323a46;
	color: #ccc;
	font-size: 13px;
	font-weight: 400;
}

footer p {
	line-height: .750rem;
}


@media only screen and (min-width : 980px) {
	
	.inner {
		margin: 0 auto;
	}
	
}