{% extends 'base.html' %}
{% load static %}

{% block title %} Blog {% endblock %}

{% block head_block %} 
	<link href="{% static 'css/gallery.css' %}" rel="stylesheet">
{%endblock%}

{% block body_block %} 
	<section class="home-top">	
	{% if posts %}
		<div class="inner">
			<h1>This is my blog. <br />Here are the most recent posts:</h1>
			<ul>
			{% for p in posts %}
			<span class="button">
				<p><h4><a href="{% url 'blog.views.viewblogpost' p.pk %}">{{ p.title }}</a>
				<br /><small>created {{p.object.created}}</small>
				</h4></p>
				<p>{{ p.slug }}</p>
			</span>
			<br />
			{% endfor %}
			</ul>
	{% else %}
			Well, it seems like I haven't been very busy at this....
	{% endif %}
	</div>
	</section>
{% endblock %}

