{% extends 'base.html' %}
{% load static %}

{% block title %}
About
{% endblock %}

{% block body_block %}
	<section class="splash"> 
		<div class="inner">
			<p>Hi everyone! Welcome to Monadnock Vapes. We just opened our store in Keane, NH. It is owned by three partners,
			Mark, Matt and John. We all feel that electronic cigarettes are a fantastic new technology that helps smokers quit
			inhaling potentially dangerous and unhealthy chemicals and still enjoy their favorite guilty pleasure.</p><br/>
			<p>An electronic cigarette is composed of two main parts, a battery and an atomizer. The battery provides the power
			and the atomizer turns the e-liquid into vapor.</p></br>
			<p> Atomizers come in a variety of forms, but the most common is the clearomizer or tank. These accessories have a tank and
			built in atomizer so you can vape all day without having to refill.</p><br/>
			<p>E-liquid comes in a variety of forms, but basically it is composed of 
			a combination of Propylene Glycol (PG) and Vegetable Glycerine (VG) combined with flavorings and/or nicotene. PG is what is
			typically used in inhalers and VG is something else thats safe. Both are not considered harmful by the authorities.</p><br/>
			<p>When it comes to choosing an electonic cigarette, there are many options. It is our goal to try and help you through
			the process of buying one and get you set up so you can enjoy vaping and leave behind the "analog" cigarettes. Please stop
			in and feel free to ask questions. Don't be intimidated by all the jargon and choices! We want to help you!</p><br/>
	
		</div>
	</section>
{% endblock %}
