{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact
{% endblock %}

{% block body_block %}
		<section class="contact">
			<div class="inner">
				<h1>Hours</h1>
				<p>
					<ul>
						<li>Monday - 11:00 - 8:00</li>
						<li>Tuesday - 11:00 - 8:00</li>
						<li>Wednesday - 11:00 - 8:00</li>
						<li>Thursday - 11:00 - 8:00</li>
						<li>Friday - 11:00 - 8:00</li>
						<li>Saturday - 11:00 - 8:00</li>
						<li>Sunday - 11:00-8:00</li>
					</ul>
				</p>
				<h1>Contact Info</h1>
				<p>
					<ul>
						<li>Phone - (603)-354-3169</li>
						<li>Email - <a href="mailto:monadnockvapor@gmail.com">monadnockvapor@gmail.com</a></li>
					</ul>
				</p>
				<h1>Directions</h1>
				<p>We are located at 34 1/2 Washington St. Keene, NH.</p>
					<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
					<div class="map">
						<div id="gmap_canvas"></div>
						<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
					</div>
					<script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(42.9351433,-72.27790110000001),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(42.9351433, -72.27790110000001)});infowindow = new google.maps.InfoWindow({content:"<b>Monadnock Vapor</b><br/>34 1/2 Washington St.<br/>Keene, NH 03431" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
			<a href="https://goo.gl/maps/hZ4CC" target="_blank"><span class="button">Directions to the Store</span></a>
			<h1>About</h1>
				<p>Hi everyone! Welcome to Monadnock Vapor. We just opened our store in Keene, NH. It is owned by three partners,
				Marc, Dan and John. We all feel that electronic cigarettes are a fantastic new technology that helps smokers quit
				inhaling potentially dangerous and unhealthy chemicals while still enjoying their favorite guilty pleasure.</p>
				<figure><img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10645044_1464018390525091_2098566475424004825_n.jpg?oh=903b2d1560766542437e05e87e950a6c&oe=549A2D5B&__gda__=1419359330_bb999912e20e88e271035c9a7b3d4040"></figure>
				<p>An electronic cigarette is composed of two main parts, a battery and an atomizer. The battery provides the power
				and the atomizer turns the e-liquid into vapor.</p>
				<p> Atomizers come in a variety of forms, but the most common is the clearomizer or tank. These accessories have a tank and
				built in atomizer so you can vape all day without having to refill.</p>
				<p>E-liquid comes in a variety of forms, but basically it is composed of 
				a combination of Propylene Glycol (PG) and Vegetable Glycerine (VG) combined with flavorings and/or nicotine. PG is what is
				typically used in inhalers to deliver medication. Both are not considered harmful by the authorities.</p>
				<figure><img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10645266_1460600767533520_4997457800082757244_n.jpg?oh=d2606476c42f7e566faad85d1259a8b1&oe=54A6378A&__gda__=1418033376_0625084642e83f416171499ebf92ccdb"></figure>
				<p>When it comes to choosing an electronic cigarette, there are many options. It is our goal to try and help you through
				the process of buying one and get you set up so you can enjoy vaping and leave behind the "analog" cigarettes. Please stop
				in and feel free to ask questions. Don't be intimidated by all the jargon and choices! We want to help you!</p>
			</div>	
		</section>
{% endblock %}
