{% extends 'base.html' %}
{% load static %}

{% block title %} Welcome! {% endblock %}

{% block body_block %}


		<section class="home-top">
			<div class="inner">
				<h1>Welcome To Our Store!</h1>
				<figure>
					<img src="http://dummyimage.com/623x260/4ec4e4/fff">
				</figure>	
				<p>Monadnock Vapes is a new vapor store located at 547 Main Street in Keane, NH. We have a large selection of starter kits, mods and e-liquids for all your electronic cigarette needs.</p>
				<p class="no-margin-bottom">Buying an electronic cigarette can be exciting and daunting, so please feel free to ask us any questions you may have. We are happy to explain how to get set up and started, and we can help guide you to find the best product possible.
</p>
			</div>	
		</section>
		<section class="home-bot">
			<div class="inner cf">
				<div class="col">
					<h1>Products</h1>
						<p>We sell a full range of personal vaporizer, juices, batteries, cartomizers and many other accessories.
						<figure><img src="http://dummyimage.com/600x250/eee9c9/fff"></figure>
						<figure><img src="http://dummyimage.com/600x250/ddd777/fff"></figure>
						<a href="{% url 'inventory.views.category_list' %}"><span>View our complete Inventory</span></a>
				</div>
				<div class="col">
					<h1>Deals</h1>
					<p>Like us on Facebook and get 10% your next in-store purchase that totals over $100! Offer not valid to residents of Maine; Maine SUCKS! Go OWLS!!!</p>
					<p class="no-margin-bottom">Buy one cartomizer get one cartomizer of equal or lesser value free, with <a href="#">coupon</a>.</p>
				</div>
			</div>
		</section>

{% endblock %}
