{% extends 'base.html' %}
{% load static %}

{% block title %} Welcome! {% endblock %}

{% block body_block %}

		<section class="splash">
			<div class="inner">
				<h1>Welcome To Our Store!</h1>
				<img src="http://dummyimage.com/600x250/000/fff">
				<p>Monadnock Vapes is a new vapor store located at =address= in Keane, NH. We have a large selection of starter kits, mods and e-liquids for all your electronic cigarette needs.</p>
				<p>Buying an electronic cigarette can be exciting and daunting, so please feel free to ask us any questions you may have. We are happy to explain how to get set up and started, and we can help guide you to find the best product possible.
</p>
			</div>	
		</section>
		<section class="splash2">
			<div class="inner cf">
				<div class="col">
					<h2>Products</h2>
					<ul class="products-splash">
						<li><img src="http://dummyimage.com/200x200/000/fff"></li>
						<li><img src="http://dummyimage.com/200x200/000/fff"></li>
					</ul>
					<p>View our complete Inventory</p>
				</div>
				<div class="col">
					<h2>Sales</h2>
				</div>
			</div>
		</section>
{% endblock %}
