{% extends 'base.html' %}
{% load static %}

{% block title %} Welcome! {% endblock %}

{% block body_block %}


		<section class="home-top">
			<div class="inner">
				<h1>Welcome To Our Store!</h1>
				<figure>
				    <!--	<img src="http://dummyimage.com/623x260/4ec4e4/fff"> -->
				    <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/10660228_1464190680507862_3742794724963782006_n.jpg?oh=08703b97c6f3464b372ba24dfad89d19&oe=547FDA70&__gda__=1416317466_513dc15f41a401c10fc1636617050581">
				</figure>	
				<p>Monadnock Vapes is a new vapor store located at 34 1/2 Washington St. in Keene, NH. We have a large selection of starter kits, mods and e-liquids for all your electronic cigarette needs.</p>
				<p class="no-margin-bottom">Through quality merchandise and customer service, our mission is to give smokers a better alternative to tobacco, while also fulfilling the needs of the vaping enthusiast.  
				</p><br />
				<p>
				We just ordered a few RDAs and a clone of the popular Copper Stingray Mod. Check 'em out in a couple
			       weeks!	
				</p>
			</div>	
		</section>
		<section class="home-bot">
			<div class="inner cf">
				<div class="col">
					<h1>Products</h1>
						<p>We sell a full range of personal vaporizer, juices, batteries, cartomizers and many other accessories.
						<figure><img src="http://dummyimage.com/600x250/eee9c9/fff"></figure>
						<figure><img src="http://dummyimage.com/600x250/ddd777/fff"></figure>
						<a href="{% url 'inventory.views.category_list' %}"><span>View our complete Inventory</span></a>
				</div>
				<div class="col">
					<h1>Deals</h1>
					<p><a href="#">Grand opening sale:</a> 20% of all merchendise! Until September 15th!</p>
					<p class="no-margin-bottom"><a href="#">Refer a friend:</a> refer a purchase of $15 or more and get a free 10ml bottle of juice!</a>.</p>
				</div>
			</div>
		</section>

{% endblock %}
