{% extends 'base.html' %}

{% block body_block %}
<section class="home-top"> 
<div class="inner">
	{% if customers %}
	<div class="inner">
	<table>
		{% for c in customers %}
		<tr><p> {{ c.id_num }} <a href="{% url 'juiceprogram.views.user_view' c.id_num %}">{{ c.first_name}} {{ c.last_name }}</a></p></tr>
		{% endfor %}
	</table>
	</div>
	{% else  %}
		{% if searched %}
		<p>nothing found</p>
		{% endif %}
	{% endif %}
	{% if error %}
	<div class="inner">
		{{ error }}
	</div>
	{% endif %}
	<form id="lookup" action="{% url 'juiceprogram.views.user_lookup' %}" method="post"> 
		{% csrf_token %}	
		<p><label for="first_name">First Name: </label><input type="text" name="first_name"></p>
		<p><label for="last_name">Last Name: </label><input type="text" name="last_name"></p>
		<p><label for="last_name">Id: </label><input type="number" name="id"></p>
		<p><input type="submit" value="Look up"></p>
	</form>
</div>
</section>
{% endblock %}
