{% extends 'base.html' %}

{% block body_block %}

	<p><a href="{% url 'juiceprogram.views.index' %}">Home</a> | <a href="{% url 'juiceprogram.views.user_lookup' %}">Look up a user</a></p>
<u>ID</u>---<u>Name </u><br />
{% if users %}

	{% for u in users %}
	{{u.id_num}}<a href="{% url 'juiceprogram.views.user_view' u.id_num %}"> {{u.first_name}} {{u.last_name}}</a>	</br>	

	{% endfor %}
	<br />
{% endif %}
<p>
	Page: {{page_num}} | 
	{% if pages.has_previous %}
		<a href="{% url 'juiceprogram.views.user_list' pages.previous_page_number %}">previous</a> | 
	{% endif %}
	{% if pages.has_next %}
		<a href="{% url 'juiceprogram.views.user_list' pages.next_page_number %}">next</a>
	{% else %}
		no next
	{% endif %}	
	</p>
	<p><a href="{% url 'juiceprogram.views.index' %}">Home</a> | <a href="{% url 'juiceprogram.views.user_lookup' %}">Look up a user</a></p>
{% endblock %}
